body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    padding: 0;
    background-image: url("../images/background.jpg");
    
}

/*Wraps entire page for footer*/

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction:column;

}

header {
    width: 100%;
	height: 75px;
	position: absolute;
	background-color: #ffffff;
	border-bottom: #cccccc 2px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
	z-index: 2;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
    
}

.main_header{
    width: 960px;
	margin: auto;
}

.header_name {
    width: 300px;
	height: 75px;
	float: left;
	position: absolute;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 23px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
    padding-top: 25px;
    box-sizing: border-box;

}

.header_links {
    margin-top: 30px;
    float: right;
    display: inline-block;
	text-decoration: none;
	color: #666666;
    margin: 0 16px 0 16px;
    padding-top: 25px;    

}

.header_links:hover {
    color: #4aaaa5
}

li {
    display: inline;
}


.container {
    background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; 
  
}

.abm {
    background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
    box-sizing: border-box;

}

h2 {
    font-family: 'Georgia', Times, serif;
	font-size: 25px;
	color: #4aaaa5;
	font-weight: bold;
}

#bio_image {
    float: left;
	width: 280px;
	padding: 5px 30px 20px 0;
	
}

#bio_info {
    line-height: 25px;
    float: left;
}



.main {
    background-color: white;
	border: #dddddd 1px solid;
	width: 270px;
	float: right;
	position: relative;
	padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    
}

h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	font-weight: bold;
}
.social_media_links {
    width: 64px;
	display: inline-block;
    margin-right: 3px;
    float: right;
}

.github,
.linkedin,
.stack {
    padding-bottom: 40px;
    margin: 0 auto 0;
}

.social_media_links:nth-child(3) {
    margin-right: 0;

}

ul {
    display: inline;
}



/*COntact specific*/
.contact-me {
	background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

input[type=text], input[type=email] {
	width: 100%;
	height: 30px;
	padding-left: 10px;
	margin-top: 8px;
	border: #cccccc .5px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

textarea {
	width: 100%;
	height: 200px;
	margin-top: 8px;
	border: #cccccc .5px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.user-mail {
	padding-top: 20px;
}

.user-message {
	padding-top: 20px;
}

.button {
	padding-top: 20px;
}

button[type=submit] {
	width: 120px;
	height: 40px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 16px;
	border: none;
}


/*portfolio specific*/
.portfolio {
	background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.imgs-left {
	float: left;
	padding-bottom: 26px;
	position: relative;
}

.imgs-right {
	float: right;
	padding-bottom: 26px;
	position: relative;
}

h4 {
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, serif;
	font-size: 21px;
	padding-top: 17px;
	position: absolute;
    color: #ffffff;
    background-color: #4aaaa5;
	text-align: center;
	height: 50px;
	width: 100%;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

footer {
   
    background-color: #666666;
    color: white;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px;
    border-top: 10px;
    border-color:#4aaaa5;
    border-top-style: solid;

}